# Flex and AIR SDK paths

	# EDIT THESE SDK/LIB PATHS
		FLEX_HOME=/Users/stevewarren/Development/sdks/flex/4.14.0-AIR16
		android.sdk = /Users/stevewarren/Development/sdks/android_sdk/platforms/android-19
		adt = /Users/stevewarren/Development/sdks/air/AIRSDK_16_0/bin/adt
		google-play-services_lib.dir = /Users/stevewarren/Clients/Speakaboos/git_repositories/native-extensions/projects/google-play-services_lib

	#POINT THIS TO YOUR ane-google-play-services PROJECT DIRECTORY
		project.dir = /Users/stevewarren/Clients/Speakaboos/git_repositories/native-extensions/projects/ane-google-play-services
	
# for ant buildANE

	swfversion=27
	
	ane.name = GPS
	ane.baseclass = com.speakaboos.ane.GooglePlayServicesANE
	project.prefix = SPK-GPS
			
	project.dir.java = ${project.dir}/${project.prefix}_Java_Eclipse
	project.dir.build = ${project.dir}/${project.prefix}_Build
	project.dir.swc = ${project.dir}/${project.prefix}_SWC
	project.dir.default = ${project.dir}/${project.prefix}_Default
	project.dir.test = ${project.dir}/${project.prefix}_TestAIR
	
# for ant buildTest

	project.testclass = ${project.dir.test}/src/com/speakaboos/ane/gps/GPSTest.as
	project.testmanifest = ${project.dir.test}/src/com/speakaboos/ane/gps/GPSTest-app.xml
	project.testswf = ${ane.name}.swf
	project.testapk = ${ane.name}.apk


